

.App {
  padding: 50px;
}


.Todo-App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

form{
  display: block;
}

input {
  padding: 10px;
  border-radius: 3px;
  outline: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.message {
  background-color: #61dafb;
  color: white;
  border: solid 1px #61dafb;
  position: absolute;
  text-align: center;
  width: 200px;
  /* left: 50%; */
  /* margin-left: 100px; */
  top: 10px;
}

button {
  background: rgba(0,0,255,0.6);
    color: white;
    font-weight: bold;
    font-size: 10px;
    border-radius: 5px;
    position: relative;
    top: -3px;
    margin-right: 5px;
}

a {
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}