

.App {
  padding: 50px;
}


.Todo-App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

form{
  display: block;
}

input {
  padding: 10px;
  border-radius: 3px;
  outline: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}